@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap');

:root {
    --primaria: #0080ff;
    --secundaria: #c9c9c9;
    --secundaria-clara: #d29c9c;
    --terciaria: #F2F2F2;
    --black: #0D0D0D;
}