@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap");

:root {
  --primaria: #0080ff;
  --secundaria: #c9c9c9;
  --secundaria-clara: #d29c9c;
  --terciaria: #ffffff;
  --black: #000000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

nav.navbar.bg-body-tertiary {
  padding: 15px !important;
  background-color: #7fb6edcb !important;
  border-bottom: 1px solid #000000 !important;
  color: #d00000 !important; /* Cor do texto */
}
.container.titulo {
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  margin-top: 40px;
}

.container.titulo p {
  margin-bottom: 10px;
}

.container.titulo .h1 {
  color: #007bff;
}

.container.titulo .h4 {
  color: #555;
}

footer {
  background-color: #115498;
  padding: 2px;
  text-align: center;
  border-top: 1px solid #000000;
}

.custom-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.campo-input-nome{
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #40556c;
  color: #fff;
  border: none;
  padding: auto;
  height: 50px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 11px;
}

.table {
  table-layout: fixed;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  border: #000000;
}

.table th {
  background-color: #546671;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.table td {
  vertical-align: middle;
  text-align: center;
  background-color: #bfb7b7;
}

.table td:first-child {
  text-align: center;
  padding-left: 10px;
}

.table td:nth-child(2) {
  width: 100px;
}